set_io --warn-no-port  c     R9
set_io --warn-no-port  r     D8

set_io  --warn-no-port result[0]  C8
set_io  --warn-no-port result[1]  F7
set_io  --warn-no-port result[2]  K9
#set_io output_0[0]  C8
#set_io output_0[1]  E9
#set_io output_0[2]  B14
#set_io output_0[3]  A16
#set_io output_0[4]  D15
#set_io output_0[5]  D16
#set_io output_0[6]  F16
#set_io output_0[7]  G15
#set_io output_0[8]  G10
#set_io output_0[9]  J10
#set_io output_0[10]  G16
#set_io output_0[11]  H16
#set_io output_0[12]  F15
#set_io output_0[13]  E16
#set_io output_0[14]  D14
#set_io output_0[15]  C16

#set_io output_0[16]  A15
#set_io output_0[17]  C11
#set_io output_0[18]  E10
#set_io output_0[19]  F9
#set_io output_0[20]  E13
#set_io output_0[21]  G11
#set_io output_0[22]  D10
#set_io output_0[23]  D11
#set_io output_0[24]  E11
#set_io output_0[25]  F12
#set_io output_0[26]  E14
#set_io output_0[27]  F11
#set_io output_0[28]  G12
#set_io output_0[29]  B13
#set_io output_0[30]  C12
#set_io output_0[31]  B12
